body
{ 
    background: springgreen;
}

h1,h2, footer
{
    padding:0.2em; text-align:center;
}

.srodek
{
    text-align: center;
}

nav
{
    float:left; width:100%;
}

nav, footer
{
    background: bisque; 
    color:window;
    border-radius:10px;
}

nav a
{
    float:left;
    display:block;
    width:23%;
    padding:1%;
    font-size:110%;
    color:orchid;
    text-align:center;
}
section
{
    clear:both;
}

img
{
    max-width:100%;
   height:auto;
    border-radius: 15px;
    
}

.zdjecie
{
    float:left;
    display:block;
    width:13%;
    text-align:center;
    border-radius: 10px;
    background:#7FFF00;
    padding: 1% 0.5%;
    margin: 1%;
}
.zdjecie:hover
{
   background: aqua; 
}
footer
{
    clear: both;
}
.galeria
{
    margin: auto;
    width:90%;
}

@media screen and (max-width: 720px)
{
    nav a
    {
        width:48%;
        padding:10px 0;
        font-size:140%;
        
    }
    .zdjecie{
        width:13%;
       
    }
}

@media screen and (min-width: 481px) and (max-width: 720px)
{
    body
    {
        font-size: 16px;
       
        
    }
    h1{ font-size: 23px;}
    h2{ font-size: 18px;}
    nav a {
       
    width:45%;
   
    }
    .zdjecie{
        width:45%;
    }
}

@media screen and (max-width:481px)
{
    nav a{
        float:left;
        width:70%;
       
        
    }
    h1{ font-size:120px;}
    body{
        font-size:17px;;
    }
}
@media only screen and (min-width: 768px)  and (orientation: landscape){
    nav a
    {
     float: right;
     width:34%;
     padding: 2%;
     font-size: 110%;
    }
    h1{ font-size: 17px;}
    body{
        background:white;
        font-size: 17px;
    }
    .zdjecie{
        width:47%;
        margin: 1%;
        background: #80ffff;
        border-radius: 5px;
    }
    
}
